<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="background-color: #F0F0F0;">
    <div style="text-align:center;">
        <div class="btn btn-success" style="width:50%">
            <a role="button" style="border-radius:unset; border:none;margin-top: 2%">
                Adicionar Tarefa
            </a>
        </div>
        <div style="align-items:center;display:grid;">
            <table class="table-striped table-dark table-responsive-md" style="margin-top: 2%">
                <thead>
                    <tr>
                        <th><!--ID--></th>
                        <th>Nome</th>
                        <th>Está concluída?</th>
                        <th>Data de Finalização</th>
                        <th>Prioridade</th>
                        <th><!--Botoes--></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title TextoCabecalho" id="exampleModalLongTitle">texto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
