<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <style>
        input textarea{
            text-align: center;
            color: black;
            width: 5%;
            height: 5%;
        }
    </style>
    <div style ="border: 1px solid black;text-align:center; align-items:center; justify-content:center;padding: 5% 5%;">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome da Tarefa *</label>
                <input type="text" class="form-control" id="NOME" placeholder="Insira o Nome da Tarefa">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descrição da Tarefa *</label>
                <textarea class="form-control" id="DESCRICAO" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Data de Finalização </label>
                <input type="date" class="form-control" id="DATAFINAL">
            </div>
            <div class="form-group" style="">
                <label for="exampleFormControlSelect1">Prioridade</label>
                <select class="form-control" id="PRIORIDADE">
                    
                </select>
            </div>
            <button type="submit" id="Enviar">Criar</button>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        var prioridadeText = {
            0: 'Baixa',
            1: 'Moderada',
            2: 'Alta'
        };

        $.ajax({
            url: 'https://localhost:44330/api/v1/niveisprioridades',
            type: 'GET',
            success: function (data) {
                data.forEach(function (prioridade) {
                    var textoPrioridade = prioridadeText[prioridade];
                    $('select').append('<option data-id="' + prioridade + '">' + textoPrioridade + '</option>')
                })
            },
            error: function (error) {
                throw error;
            }
        })

        $('form').submit(function (event) {
            event.preventDefault();

            var prioridadeTextToNumber = {
                'Baixa': 0 ,
                'Moderada': 1,
                'Alta': 2
            };
            
            $.ajax({
                url: 'https://localhost:44330/api/v1/tasks/newtask',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    nome: $('#NOME').val(),
                    descricao: $('#DESCRICAO').val(),
                    dataCriacao: new Date().toISOString(),
                    dataLimite: $('#DATAFINAL').val() ? $('#DATAFINAL').val() : null,
                    isComplete: false,
                    prioridade: prioridadeTextToNumber[$('#PRIORIDADE').val()]
                }),
                success: function (data) {
                    window.location.href = "https://localhost:44381/";
                },
                error: function (error) {
                    throw error
                }
            })
        })
    })

</script>
</html>