<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="background: linear-gradient(to right,rgb(30,43,139), rgb(35,116,255), rgb(34,43,192), rgb(30,43,139) );">
    <style>
        input textarea{
            text-align: center;
            color: black;
            width: 5%;
            height: 5%;
        }
        .papel{
            background-color: rgba(128, 128, 128, 0.5); 
            backdrop-filter: blur(10px); 
        }
    </style>
    <div style="border: 1px solid black;text-align:center; align-items:center; justify-content:center;padding: 5% 5%;box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);" class="papel">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome da Tarefa <b style="color:red">*</b></label>
                <input type="text" class="form-control" id="NOME" required placeholder="Insira o Nome da Tarefa">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descrição da Tarefa <b style="color:red">*</b></label>
                <textarea class="form-control" required id="DESCRICAO" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Data de Finalização </label>
                <input type="date" class="form-control" id="DATAFINAL">
            </div>
            <div class="form-group" style="">
                <label for="exampleFormControlSelect1">Prioridade <b style="color:red">*</b></label>
                <select class="form-control" id="PRIORIDADE" required>
                    
                </select>
            </div>
            <button type="submit" class="btn btn-success" id="Enviar">Criar</button>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        function ConverterPrioridade(prioridadeRecebida) {
            if (typeof prioridadeRecebida === "number") {
                if (prioridadeRecebida === 0) {
                    return 'Baixa';
                } else if (prioridadeRecebida === 1) {
                    return 'Moderada';
                } else {
                    return 'Alta';
                }
            }

            if (typeof prioridadeRecebida === "string") {
                if (prioridadeRecebida === 'Baixa') {
                    return 0;
                } else if (prioridadeRecebida === 'Moderada') {
                    return 1;
                } else {
                    return 2;
                }
            }

        }

        $.ajax({
            url: 'https://localhost:44330/api/v1/niveisprioridades',
            type: 'GET',
            success: function (data) {
                data.forEach(function (prioridade) {
                    $('select').append('<option data-id="' + prioridade + '">' + ConverterPrioridade(prioridade) + '</option>')
                })
            },
            error: function (error) {
                throw error;
            }
        })

        $('form').submit(function (event) {
            event.preventDefault();
            
            $.ajax({
                url: 'https://localhost:44330/api/v1/tasks/newtask',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    nome: $('#NOME').val(),
                    descricao: $('#DESCRICAO').val(),
                    dataCriacao: new Date().toISOString(),
                    dataLimite: $('#DATAFINAL').val() ? $('#DATAFINAL').val() : null,
                    isComplete: false,
                    prioridade: ConverterPrioridade($('select').val())
                }),
                success: function (data) {
                    window.location.href = "https://localhost:44381/";
                },
                error: function (error) {
                    throw error
                }
            })
        })
    })

</script>
</html>